* {
  box-sizing: border-box; /* Для правильного высчитывания размеров элементов */
}
body {
  font-family: "Roboto", sans-serif;
  padding-top: 44px;
}
.container {
  max-width: 1200px; /* Максимальная ширина всего контейнера */
  margin: auto; /* Одинаковые отступы по краям, которые располагают контейнер в центре */
}
.header {
  /* Шапка сайта */
  display: flex; /* Элементы выстраиваются на одной линии */
  align-items: center; /* На одной линии по центру относительно вертикали */
  justify-content: space-between; /* Раскидать элементы по ширине контейнера на равном расстоянии */
  margin-bottom: 40px;
}
.main {
  /* Основное тело сайта */
  background: linear-gradient(
    180deg,
    rgba(245, 245, 245, 0) 1.04%,
    #f5f5f5 100%
  );
}
.input-address {
  /* Поле ввода адреса доставки */
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px; /* Скругление углов поля ввода */
  height: 40px;
  flex: 0.8;
  font-size: 16px;
  line-height: 24px; /* Высота строки (межстрочный интервал) */
  background-image: url(../img/input_address_logo.svg); /* Картинка домика для поля ввода */
  background-repeat: no-repeat; /* Убираю "обои", т.е. оставляю только одну картинку */
  background-position: left 11px center; /* Устанавливаю расположение слева по центру для картинки */
  padding-left: 35px; /* Устанавливаю отступ слева для текста, чтобы не сливался с картинкой */
}
.buttons {
  /* Стили для блока с кнопками  */
  display: flex;
  align-items: center;
}
.button {
  /* Общие стили для кнопок */
  display: flex;
  align-items: center;
  padding: 8px 16px; /* Отступы сверху/снизу 8px, а по крайям 16px */
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}
.button-primary {
  /* Дополнительные стили для кнопки "Войти" */
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
  margin-right: 10px;
}
.button-card-text {
  margin-right: 10px; /* Стили для текста кнопки "В корзину" */
}
.button-icon {
  /* Стили картинок кнопок */
  margin-right: 6px; /* Отодвигаю от картинки текст справа на 6px */
  padding-bottom: 2px;
}
.promo {
  /* Стили блока Промо */
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1); /* Задаю тень для всего блока */
  background: #fff1b8;
  background-image: url(../img/promo-image.png);
  background-repeat: no-repeat;
  background-position: top right -225px;
  background-size: 950px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}
.promo-title {
  /* Стили заголовка блока Промо */
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302c34;
  margin: 0;
  padding-bottom: 15px;
}
.promo-text {
  /* Стили основного текста блока Промо */
  font-style: normal;
  font-weight: normal;
  max-width: 540px;
  font-size: 24px;
  line-height: 28px;
  color: #302c34;
  margin: 0;
}
.section-heading {
  /* Стили для всей шапки "Рестораны" */
  display: flex;
  align-items: center;
  margin-bottom: 44px; /* Интервал между всей шапкой и карточками снизу */
}
.section-title {
  /* Стили для заголовка "Рестораны" */
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-right: 30px;
}
.input-search {
  /* Поле поиска блюд и ресторанов */
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 35px;
  width: 310px;
  font-size: 16px;
  line-height: 24px;
  background-image: url(../img/input_search_logo.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
  margin-left: auto;
}
.cards {
  /* Стили для всего блока карточек */
  display: flex;
  align-items: flex-start; /* Выравнивание карточек в начале поперечной оси контейнера */
  justify-content: space-between;
  flex-wrap: wrap; /* Перенос на новую строчку всех карточек, которые не помещаются */
}
.card {
  /* Стили карточки ресторана */
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden; /* Для скруглённости картинки скрываю(обрезаю) всё, что находится за пределами карточки */
  margin-bottom: 30px; /* Делаю вертикальный интервал между карточками */
  flex-basis: 32%; /* Каждая карточка занимает 32% от общего контейнера */
  text-decoration: none;
}
.card:visited {
  color: #000000;
}
.card-image {
  /* Стили картинки в карточке */
  width: 384px;
  height: 250px;
  object-fit: cover; /* Если заказчик подставляет картинку других размеров, то картинка будет обрезаться */
}
.card-text {
  /* Стили для блока с текстом в карточке */
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}
.card-heading {
  /* Стили для заголовка текстового блока в карточке */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  /* Стили для названия ресторана в карточке */
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}
.card-title-reg {
  font-weight: 400; /* Изменение шрифта в card-title для карточек блюд в ресторане */
  margin-bottom: 10px;
}
.card-tag {
  /* Стили для времени доставки в карточке */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}
.card-info {
  /* Стили для информации о ресторане в карточке */
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Перенос на новую строку всеё информации, если она частично не помещается */
}
.card-rating {
  /* Стили для рейтинга в информации о ресторане */
  margin-right: 26px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffc107;
}
.card-price {
  /* Стили для цены в информации о ресторане */
  margin-right: 10px;
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.card-price:after {
  /* Псевдоэлемент для блока price, который позволит сделать точку между ценой и категорией */
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8c8c8c;
  display: inline-block; /* Делаю элемент(квадратная точка) строчно-блочным для его отображения */
  vertical-align: middle; /* Выравниваю точку по вертикали */
  border-radius: 50%; /* Скругляю квадратную точку до нормального вида */
  margin-left: 10px;
}
.card-category {
  /* Стили для категории в информации о ресторане */
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden; /* Обрезаю текст, который не помещается в заданную область */
  white-space: nowrap; /* Запрещаю перенос строк */
  text-overflow: ellipsis; /* После обрезания текста добавляется многоточие */
  max-width: 150px;
}
.card-ingredients {
  /* Стили для ингредиентов в информации о блюде */
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.card-buttons {
  /* Стили для блока с кнопкой и ценой в карточке блюда в ресторане */
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.card-price-bold {
  /* Стили цены на карточке блюда в ресторане */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-left: 32px;
}
.footer {
  padding: 60px 0; /* Задаю внутренние отступы для подвала */
}
.footer-block {
  display: flex; /* Распределяю конктент равномерно по всему подвалу */
  align-items: center;
  justify-content: space-between;
}
.footer-nav {
  margin-right: auto; /* Стили для всего блока ссылок в подвале */
  margin-left: 35px;
}
.footer-link {
  /* Стили ссылок подвала */
  display: inline-block;
  color: #595959;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.footer-link:not(:last-child) {
  margin-right: 15px; /* Для всех ссылок данного класса, кроме последней */
}
.social-links {
  display: flex; /* Стили для всего блока социальных сетей в подвале */
  align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 21px; /* Для всех социальных сетей данного класса, кроме последней */
}
@media (max-width: 1366px) {
  /* Медиазапрос(директива) для адаптивной вёрстки */
  .container {
    max-width: 960px; /* Меняю ширину контейнера под более маленький экран */
  }
  .promo {
    background-position: top right -225px; /* Меняю положение и размеры Логотипа в Промо */
    background-size: 700px;
  }
  .card-rating {
    margin-right: 15px; /* Изменяю отступ после рейтинга */
  }
  .card-category,
  .card-price {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .promo {
    padding: 48px 50px; /* Меняю размеры области Промо, а также положение и размеры Логотипа в Промо */
    background-position: top right -225px;
    background-size: 620px;
  }
  .promo-title {
    font-size: 33px;
    line-height: 40px;
    padding-bottom: 12px;
  }
  .promo-text {
    font-size: 18px;
    max-width: 400px;
    line-height: 28px;
  }
  .card {
    flex-basis: 49%; /* Оставляю только 2 карточки в одной строке */
  }
  .footer-link {
    font-size: 16px; /* Изменяю размеры ссылок в подвале */
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .button-primary {
    margin-left: 10px;
  }
  .promo {
    padding: 48px 50px;
    background-position: top right -225px;
    background-size: 500px;
  }
  .promo-title {
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 9px;
  }
  .promo-text {
    margin-top: 0;
    font-size: 14px;
    max-width: 300px;
    line-height: 19px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-info {
    flex-wrap: wrap; /* Перенос всей информации, если её часть не помещается в строке */
  }
  .card .card-rating {
    flex-basis: 100%; /* Вся инфа, кроме рейтинга будет переноситься на другую строку. НО ТОЛЬКО внутри блока CARD */
  }
}
@media (max-width: 585px) {
  .container {
    max-width: 90%;
  }
  .header {
    flex-wrap: wrap; /* Переносы в заголовке, если его часть не помещается */
  }
  .input-address {
    margin-top: 15px;
    order: 5; /* Делаю строку Адреса Доставки последней по счёту, чтобы она переносилась */
    flex: 1;
  }
  .promo {
    padding: 40px 42px;
    background-position: top -90px right -160px;
    background-size: 350px;
  }
  .promo-title {
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 9px;
    margin-bottom: 10px;
  }
  .promo-text {
    margin-top: 0;
    font-size: 14px;
    max-width: 300px;
    line-height: 19px;
  }
  .section-title {
    font-size: 20px;
  }
  .card {
    flex-basis: 100%;
  }
  .card-image {
    width: 100%;
  }
  .footer {
    padding: 40px 0;
  }
  .footer-block {
    align-items: flex-start;
  }
  .footer-nav {
    margin-left: 0;
    margin-right: 0;
    order: 0;
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    margin-right: 10px;
    order: 1;
  }
  .social-links {
    order: 2;
  }
  .social-link:not(:last-child) {
    margin-right: 11px;
  }
}
@media (max-width: 480px) {
  .button {
    min-height: 37px;
  }
  .button-text {
    display: none;
  }
  .button-icon {
    margin-right: 0px;
  }
  .promo {
    background-image: none;
    padding: 30px 32px;
  }
  .section-heading {
    flex-wrap: wrap;
  }
  .input-search {
    flex-basis: 100%;
  }
  .footer-block {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    order: 0;
    margin-bottom: 20px;
  }
  .footer-nav {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child) {
    margin-right: 0;
  }
}
